@import '../../../styles/mixins';
@import '../../../styles/vars';

.tokenBalance {
  background-color: $lavender-light;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;

  @include for-tablet-up {
    flex-direction: row;
  }

  &__group {
    flex: 0 0 100%;
    text-align: left;
    margin-top: 20px;
    padding-right: 8px;
    
    @include for-tablet-up {
      flex: 0 0 33%;
      margin-top: 0px;
    }

    .label {
      font-size: $type-base;
      color: grey;
      padding-bottom: 5px;
    }

    .text {
      font-size: $type-small;
      font-weight: bold;
      word-break: break-all;
    }
  }
}