@import '../../../styles/mixins';
@import '../../../styles/vars';

.addressInput {

  &__group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;

    @include for-tablet-up {
      flex-direction: row;
    }

    label {
      flex: 0 0 100%;
      text-align: left;
      font-size: $type-medium;
      font-weight: bold;
      line-height: 40px;

      @include for-tablet-up {
        flex: 0 0 33%;
      }

      .required {
        color: red;
        font-size: $type-base;
      }
    }
  
    input {
      flex: 0 0 100%;
      font-size: $type-base;
      background-color: $lavender-light;
      border: 1px solid $lavender-dark;
      border-radius: 15px;
      padding: 10px;
      height: 40px;

      @include for-tablet-up {
        flex: 0 0 66%;
      }
    }

    .error {
      flex: 0 0 66%;
      text-align: left;
      padding-left: 10px;
      font-size: $type-base;
      color: $red;

      &.hidden{
        visibility: hidden;
      }
    }
  }

  &__submit {

    button {
      background-color: $purple;
      border: none;
      border-radius: 12px;
      color: $white;
      font-weight: bold;
      font-size: $type-medium;
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
      width: 100%;
      max-width: 300px;
      height: 50px;
      cursor: pointer;

      &:disabled {
        color: $lavender-dark;
        cursor: not-allowed;
        background-color: $lavender-medium;
      }
    }

  }


  

}