$black: black;
$white: white;
$red: red;

$lavender-light: rgb(247, 247, 255);
$lavender-medium: rgb(232, 236, 253);
$lavender-dark: rgb(117, 120, 181);
$purple: rgb(112, 110, 255);

$type-base: 14px;
$type-small: 16px;
$type-medium: 20px;