.dashboard {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 30px;
  position: relative;
  top: 200px;

  h1 {
    margin-bottom: 30px;
  }

  .test {
    margin-top: 200px;
  }
}