@import '../../styles/mixins';
@import '../../styles/vars';

.dashboard {
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(42 43 58 / 5%) 0px 20px 98px, rgb(42 43 58 / 6%) 0px 2px 12px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 30px;
  position: relative;
  top: 50px;

  @include for-tablet-up {
    top: 200px;
  }

  h1 {
    color: $lavender-dark;
    margin-bottom: 30px;
  }

  .assetLabel {
    border: 1px solid $lavender-dark;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      border: 1px solid $purple;
      border-radius: 10px;
    }
  }

  .tokenBalanceError {
    background-color: $lavender-light;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;
    justify-content: center;
    
    @include for-tablet-up {
      padding: 60px;
    }

  }
}